/**
 * Grid System
 */
/**
 * Default Variables
 */
/**
 * Mixins
 */
/* library */
/**
 * BEM Mixins
 * From https://github.com/alphasights/paint/blob/812fb33c54a50277071f547a3e191cf5fe4fcb3f/styles/tools/_bem.scss
 */
/**
 * @example scss
 *
 * .element {
 *   @include clearfix;
 * }
 *
 * // CSS Output
 * .element::after {
 *   clear: both;
 *   content: '';
 *   display: block;
 * }
 */
/**
 * Truncate text and add an ellipsis to represent overflow
 *
 * @param {number} $width [Default 100%]
 * @param {string} $display [Default inline-block] [Sets the display-value of the element]
 */
/**
 * Hides text to show a background image(a logo, for example)
 *
 * @example
 *   .element {
 *     @include hide-text;
 *   }
 *
 *   // CSS Output
 *   .element {
 *     overflow: hidden;
 *     text-indent: 101%;
 *     white-space: nowrap;
 *   }
 */
/**
 * Set width and height in a single statement
 *
 * @param {number (with unit) | string} $width
 * @param {number (with unit) | string} $height [default $width]
 */
/**
 * Mixes a color with white. It's different from lighten()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amout of white to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: tint(#6ecaa6 , 40%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #a8dfc9;
 *   }
 */
/**
 * Mixes a color with black. It's different from darken()
 *
 * @param {color} $color
 * @param {number (percentage)} $percent [The amount of black to be mixed in]
 * @return {color}
 *
 * @example
 *   .element {
 *     background-color: shade(#ffbb52, 60%);
 *   }
 *
 *   // CSS Output
 *   .element {
 *     background-color: #664a20;
 *   }
 */
/* Prefix */
/* The Color of O2Team Brand */
/* Color */
/* Color PalettC */
/* Assistant Color */
/* Border */
/* Font */
/* Link */
/* Disabled cursor */
/* Shadow */
/* Button */
/* Tag */
/* Checkbox */
/* Input */
/* InputNumber */
/* Switch */
/* Slider */
/* Textarea */
/* Alert */
/* Badge */
/* Card */
/* Collapse */
/* Loading Bar */
/* Modal */
/* Message */
/* Radio */
/* Rate */
/* Select */
/* Select Dropdown */
/* Notification */
/* Popover */
/* Progress */
/* Timeline */
/* Tooltip */
/* Table */
/* Breadcrumb */
/* Dropdown */
/* Menu */
/* Pagination */
/* Tabs */
/* Steps */
/**
 * Media queries
 */
/* Extra small screen / Mobile */
/* Small screen / Tablet */
/* Medium screen / Desktop */
/* Large screen / Wide Desktop */
/**
 * Grid system
 */
/* Container sizes */
/* z-index list */
/* variables */
/* Extra small screen / Mobile */
/* Small screen / Tablet */
/* Medium screen / Desktop */
/* Large screen / Wide Desktop */
/**
 * Make Grid
 * Use for column 24
 * $baseWidth: 4.166667%;
 */
.container-fluid, .container {
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  padding-left: 24px;
  padding-right: 24px;
}

.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

/* Flex justify content */
.flex {
  display: flex;
}

.flex-start {
  justify-content: flex-start;
  text-align: start;
}

.flex-center {
  justify-content: center;
  text-align: center;
}

.flex-end {
  justify-content: flex-end;
  text-align: end;
}

.flex-around {
  justify-content: space-around;
}

.flex-between {
  justify-content: space-between;
}

.flex-top {
  align-items: flex-start;
}

.flex-middle {
  align-items: center;
}

.flex-bottom {
  align-items: flex-end;
}

.flex-first {
  order: -1;
}

.flex-last {
  order: 1;
}

/* normal */
.container {
  width: 100%;
}

.col, .col-offset-0 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.col-1, .col-offset-1 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-1, .no-gutter .col-offset-1 {
  padding-left: 0;
  padding-right: 0;
}

.col-2, .col-offset-2 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-2, .no-gutter .col-offset-2 {
  padding-left: 0;
  padding-right: 0;
}

.col-3, .col-offset-3 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-3, .no-gutter .col-offset-3 {
  padding-left: 0;
  padding-right: 0;
}

.col-4, .col-offset-4 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-4, .no-gutter .col-offset-4 {
  padding-left: 0;
  padding-right: 0;
}

.col-5, .col-offset-5 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-5, .no-gutter .col-offset-5 {
  padding-left: 0;
  padding-right: 0;
}

.col-6, .col-offset-6 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-6, .no-gutter .col-offset-6 {
  padding-left: 0;
  padding-right: 0;
}

.col-7, .col-offset-7 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-7, .no-gutter .col-offset-7 {
  padding-left: 0;
  padding-right: 0;
}

.col-8, .col-offset-8 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-8, .no-gutter .col-offset-8 {
  padding-left: 0;
  padding-right: 0;
}

.col-9, .col-offset-9 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-9, .no-gutter .col-offset-9 {
  padding-left: 0;
  padding-right: 0;
}

.col-10, .col-offset-10 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-10, .no-gutter .col-offset-10 {
  padding-left: 0;
  padding-right: 0;
}

.col-11, .col-offset-11 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-11, .no-gutter .col-offset-11 {
  padding-left: 0;
  padding-right: 0;
}

.col-12, .col-offset-12 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-12, .no-gutter .col-offset-12 {
  padding-left: 0;
  padding-right: 0;
}

.col-13, .col-offset-13 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-13, .no-gutter .col-offset-13 {
  padding-left: 0;
  padding-right: 0;
}

.col-14, .col-offset-14 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-14, .no-gutter .col-offset-14 {
  padding-left: 0;
  padding-right: 0;
}

.col-15, .col-offset-15 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-15, .no-gutter .col-offset-15 {
  padding-left: 0;
  padding-right: 0;
}

.col-16, .col-offset-16 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-16, .no-gutter .col-offset-16 {
  padding-left: 0;
  padding-right: 0;
}

.col-17, .col-offset-17 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-17, .no-gutter .col-offset-17 {
  padding-left: 0;
  padding-right: 0;
}

.col-18, .col-offset-18 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-18, .no-gutter .col-offset-18 {
  padding-left: 0;
  padding-right: 0;
}

.col-19, .col-offset-19 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-19, .no-gutter .col-offset-19 {
  padding-left: 0;
  padding-right: 0;
}

.col-20, .col-offset-20 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-20, .no-gutter .col-offset-20 {
  padding-left: 0;
  padding-right: 0;
}

.col-21, .col-offset-21 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-21, .no-gutter .col-offset-21 {
  padding-left: 0;
  padding-right: 0;
}

.col-22, .col-offset-22 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-22, .no-gutter .col-offset-22 {
  padding-left: 0;
  padding-right: 0;
}

.col-23, .col-offset-23 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-23, .no-gutter .col-offset-23 {
  padding-left: 0;
  padding-right: 0;
}

.col-24, .col-offset-24 {
  flex: 0 0 auto;
  padding-left: 4px;
  padding-right: 4px;
}

.no-gutter .col-24, .no-gutter .col-offset-24 {
  padding-left: 0;
  padding-right: 0;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-offset-0 {
  margin-left: 0;
}

.col-1 {
  flex-basis: 4.16667%;
  max-width: 4.16667%;
}

.col-offset-1 {
  margin-left: 4.16667%;
}

.col-2 {
  flex-basis: 8.33333%;
  max-width: 8.33333%;
}

.col-offset-2 {
  margin-left: 8.33333%;
}

.col-3 {
  flex-basis: 12.5%;
  max-width: 12.5%;
}

.col-offset-3 {
  margin-left: 12.5%;
}

.col-4 {
  flex-basis: 16.66667%;
  max-width: 16.66667%;
}

.col-offset-4 {
  margin-left: 16.66667%;
}

.col-5 {
  flex-basis: 20.83334%;
  max-width: 20.83334%;
}

.col-offset-5 {
  margin-left: 20.83334%;
}

.col-6 {
  flex-basis: 25.0%;
  max-width: 25.0%;
}

.col-offset-6 {
  margin-left: 25.0%;
}

.col-7 {
  flex-basis: 29.16667%;
  max-width: 29.16667%;
}

.col-offset-7 {
  margin-left: 29.16667%;
}

.col-8 {
  flex-basis: 33.33334%;
  max-width: 33.33334%;
}

.col-offset-8 {
  margin-left: 33.33334%;
}

.col-9 {
  flex-basis: 37.5%;
  max-width: 37.5%;
}

.col-offset-9 {
  margin-left: 37.5%;
}

.col-10 {
  flex-basis: 41.66667%;
  max-width: 41.66667%;
}

.col-offset-10 {
  margin-left: 41.66667%;
}

.col-11 {
  flex-basis: 45.83334%;
  max-width: 45.83334%;
}

.col-offset-11 {
  margin-left: 45.83334%;
}

.col-12 {
  flex-basis: 50.0%;
  max-width: 50.0%;
}

.col-offset-12 {
  margin-left: 50.0%;
}

.col-13 {
  flex-basis: 54.16667%;
  max-width: 54.16667%;
}

.col-offset-13 {
  margin-left: 54.16667%;
}

.col-14 {
  flex-basis: 58.33334%;
  max-width: 58.33334%;
}

.col-offset-14 {
  margin-left: 58.33334%;
}

.col-15 {
  flex-basis: 62.50001%;
  max-width: 62.50001%;
}

.col-offset-15 {
  margin-left: 62.50001%;
}

.col-16 {
  flex-basis: 66.66667%;
  max-width: 66.66667%;
}

.col-offset-16 {
  margin-left: 66.66667%;
}

.col-17 {
  flex-basis: 70.83334%;
  max-width: 70.83334%;
}

.col-offset-17 {
  margin-left: 70.83334%;
}

.col-18 {
  flex-basis: 75.00001%;
  max-width: 75.00001%;
}

.col-offset-18 {
  margin-left: 75.00001%;
}

.col-19 {
  flex-basis: 79.16667%;
  max-width: 79.16667%;
}

.col-offset-19 {
  margin-left: 79.16667%;
}

.col-20 {
  flex-basis: 83.33334%;
  max-width: 83.33334%;
}

.col-offset-20 {
  margin-left: 83.33334%;
}

.col-21 {
  flex-basis: 87.50001%;
  max-width: 87.50001%;
}

.col-offset-21 {
  margin-left: 87.50001%;
}

.col-22 {
  flex-basis: 91.66667%;
  max-width: 91.66667%;
}

.col-offset-22 {
  margin-left: 91.66667%;
}

.col-23 {
  flex-basis: 95.83334%;
  max-width: 95.83334%;
}

.col-offset-23 {
  margin-left: 95.83334%;
}

.col-24 {
  flex-basis: 100.00001%;
  max-width: 100.00001%;
}

.col-offset-24 {
  margin-left: 100.00001%;
}

/* screen xs */
@media screen and (max-width: 991px) {
  .col-xs, .col-xs-offset-0 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .col-xs-1, .col-xs-offset-1 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-1, .no-gutter .col-xs-offset-1 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-2, .col-xs-offset-2 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-2, .no-gutter .col-xs-offset-2 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-3, .col-xs-offset-3 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-3, .no-gutter .col-xs-offset-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-4, .col-xs-offset-4 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-4, .no-gutter .col-xs-offset-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-5, .col-xs-offset-5 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-5, .no-gutter .col-xs-offset-5 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-6, .col-xs-offset-6 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-6, .no-gutter .col-xs-offset-6 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-7, .col-xs-offset-7 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-7, .no-gutter .col-xs-offset-7 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-8, .col-xs-offset-8 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-8, .no-gutter .col-xs-offset-8 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-9, .col-xs-offset-9 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-9, .no-gutter .col-xs-offset-9 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-10, .col-xs-offset-10 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-10, .no-gutter .col-xs-offset-10 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-11, .col-xs-offset-11 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-11, .no-gutter .col-xs-offset-11 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-12, .col-xs-offset-12 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-12, .no-gutter .col-xs-offset-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-13, .col-xs-offset-13 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-13, .no-gutter .col-xs-offset-13 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-14, .col-xs-offset-14 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-14, .no-gutter .col-xs-offset-14 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-15, .col-xs-offset-15 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-15, .no-gutter .col-xs-offset-15 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-16, .col-xs-offset-16 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-16, .no-gutter .col-xs-offset-16 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-17, .col-xs-offset-17 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-17, .no-gutter .col-xs-offset-17 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-18, .col-xs-offset-18 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-18, .no-gutter .col-xs-offset-18 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-19, .col-xs-offset-19 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-19, .no-gutter .col-xs-offset-19 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-20, .col-xs-offset-20 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-20, .no-gutter .col-xs-offset-20 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-21, .col-xs-offset-21 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-21, .no-gutter .col-xs-offset-21 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-22, .col-xs-offset-22 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-22, .no-gutter .col-xs-offset-22 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-23, .col-xs-offset-23 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-23, .no-gutter .col-xs-offset-23 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs-24, .col-xs-offset-24 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-xs-24, .no-gutter .col-xs-offset-24 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-xs-offset-0 {
    margin-left: 0;
  }
  .col-xs-1 {
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }
  .col-xs-offset-1 {
    margin-left: 4.16667%;
  }
  .col-xs-2 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-xs-offset-2 {
    margin-left: 8.33333%;
  }
  .col-xs-3 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .col-xs-offset-3 {
    margin-left: 12.5%;
  }
  .col-xs-4 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-xs-offset-4 {
    margin-left: 16.66667%;
  }
  .col-xs-5 {
    flex-basis: 20.83334%;
    max-width: 20.83334%;
  }
  .col-xs-offset-5 {
    margin-left: 20.83334%;
  }
  .col-xs-6 {
    flex-basis: 25.0%;
    max-width: 25.0%;
  }
  .col-xs-offset-6 {
    margin-left: 25.0%;
  }
  .col-xs-7 {
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }
  .col-xs-offset-7 {
    margin-left: 29.16667%;
  }
  .col-xs-8 {
    flex-basis: 33.33334%;
    max-width: 33.33334%;
  }
  .col-xs-offset-8 {
    margin-left: 33.33334%;
  }
  .col-xs-9 {
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .col-xs-offset-9 {
    margin-left: 37.5%;
  }
  .col-xs-10 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-xs-offset-10 {
    margin-left: 41.66667%;
  }
  .col-xs-11 {
    flex-basis: 45.83334%;
    max-width: 45.83334%;
  }
  .col-xs-offset-11 {
    margin-left: 45.83334%;
  }
  .col-xs-12 {
    flex-basis: 50.0%;
    max-width: 50.0%;
  }
  .col-xs-offset-12 {
    margin-left: 50.0%;
  }
  .col-xs-13 {
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }
  .col-xs-offset-13 {
    margin-left: 54.16667%;
  }
  .col-xs-14 {
    flex-basis: 58.33334%;
    max-width: 58.33334%;
  }
  .col-xs-offset-14 {
    margin-left: 58.33334%;
  }
  .col-xs-15 {
    flex-basis: 62.50001%;
    max-width: 62.50001%;
  }
  .col-xs-offset-15 {
    margin-left: 62.50001%;
  }
  .col-xs-16 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-xs-offset-16 {
    margin-left: 66.66667%;
  }
  .col-xs-17 {
    flex-basis: 70.83334%;
    max-width: 70.83334%;
  }
  .col-xs-offset-17 {
    margin-left: 70.83334%;
  }
  .col-xs-18 {
    flex-basis: 75.00001%;
    max-width: 75.00001%;
  }
  .col-xs-offset-18 {
    margin-left: 75.00001%;
  }
  .col-xs-19 {
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }
  .col-xs-offset-19 {
    margin-left: 79.16667%;
  }
  .col-xs-20 {
    flex-basis: 83.33334%;
    max-width: 83.33334%;
  }
  .col-xs-offset-20 {
    margin-left: 83.33334%;
  }
  .col-xs-21 {
    flex-basis: 87.50001%;
    max-width: 87.50001%;
  }
  .col-xs-offset-21 {
    margin-left: 87.50001%;
  }
  .col-xs-22 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-xs-offset-22 {
    margin-left: 91.66667%;
  }
  .col-xs-23 {
    flex-basis: 95.83334%;
    max-width: 95.83334%;
  }
  .col-xs-offset-23 {
    margin-left: 95.83334%;
  }
  .col-xs-24 {
    flex-basis: 100.00001%;
    max-width: 100.00001%;
  }
  .col-xs-offset-24 {
    margin-left: 100.00001%;
  }
}

/* screen sm */
@media screen and (min-width: 768px) {
  .container {
    width: 728px;
  }
  .col-sm, .col-sm-offset-0 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .col-sm-1, .col-sm-offset-1 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-1, .no-gutter .col-sm-offset-1 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-2, .col-sm-offset-2 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-2, .no-gutter .col-sm-offset-2 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-3, .col-sm-offset-3 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-3, .no-gutter .col-sm-offset-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-4, .col-sm-offset-4 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-4, .no-gutter .col-sm-offset-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-5, .col-sm-offset-5 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-5, .no-gutter .col-sm-offset-5 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-6, .col-sm-offset-6 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-6, .no-gutter .col-sm-offset-6 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-7, .col-sm-offset-7 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-7, .no-gutter .col-sm-offset-7 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-8, .col-sm-offset-8 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-8, .no-gutter .col-sm-offset-8 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-9, .col-sm-offset-9 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-9, .no-gutter .col-sm-offset-9 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-10, .col-sm-offset-10 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-10, .no-gutter .col-sm-offset-10 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-11, .col-sm-offset-11 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-11, .no-gutter .col-sm-offset-11 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-12, .col-sm-offset-12 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-12, .no-gutter .col-sm-offset-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-13, .col-sm-offset-13 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-13, .no-gutter .col-sm-offset-13 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-14, .col-sm-offset-14 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-14, .no-gutter .col-sm-offset-14 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-15, .col-sm-offset-15 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-15, .no-gutter .col-sm-offset-15 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-16, .col-sm-offset-16 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-16, .no-gutter .col-sm-offset-16 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-17, .col-sm-offset-17 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-17, .no-gutter .col-sm-offset-17 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-18, .col-sm-offset-18 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-18, .no-gutter .col-sm-offset-18 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-19, .col-sm-offset-19 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-19, .no-gutter .col-sm-offset-19 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-20, .col-sm-offset-20 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-20, .no-gutter .col-sm-offset-20 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-21, .col-sm-offset-21 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-21, .no-gutter .col-sm-offset-21 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-22, .col-sm-offset-22 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-22, .no-gutter .col-sm-offset-22 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-23, .col-sm-offset-23 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-23, .no-gutter .col-sm-offset-23 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm-24, .col-sm-offset-24 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-sm-24, .no-gutter .col-sm-offset-24 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
  .col-sm-1 {
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }
  .col-sm-offset-1 {
    margin-left: 4.16667%;
  }
  .col-sm-2 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 8.33333%;
  }
  .col-sm-3 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .col-sm-offset-3 {
    margin-left: 12.5%;
  }
  .col-sm-4 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-offset-4 {
    margin-left: 16.66667%;
  }
  .col-sm-5 {
    flex-basis: 20.83334%;
    max-width: 20.83334%;
  }
  .col-sm-offset-5 {
    margin-left: 20.83334%;
  }
  .col-sm-6 {
    flex-basis: 25.0%;
    max-width: 25.0%;
  }
  .col-sm-offset-6 {
    margin-left: 25.0%;
  }
  .col-sm-7 {
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }
  .col-sm-offset-7 {
    margin-left: 29.16667%;
  }
  .col-sm-8 {
    flex-basis: 33.33334%;
    max-width: 33.33334%;
  }
  .col-sm-offset-8 {
    margin-left: 33.33334%;
  }
  .col-sm-9 {
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .col-sm-offset-9 {
    margin-left: 37.5%;
  }
  .col-sm-10 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-offset-10 {
    margin-left: 41.66667%;
  }
  .col-sm-11 {
    flex-basis: 45.83334%;
    max-width: 45.83334%;
  }
  .col-sm-offset-11 {
    margin-left: 45.83334%;
  }
  .col-sm-12 {
    flex-basis: 50.0%;
    max-width: 50.0%;
  }
  .col-sm-offset-12 {
    margin-left: 50.0%;
  }
  .col-sm-13 {
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }
  .col-sm-offset-13 {
    margin-left: 54.16667%;
  }
  .col-sm-14 {
    flex-basis: 58.33334%;
    max-width: 58.33334%;
  }
  .col-sm-offset-14 {
    margin-left: 58.33334%;
  }
  .col-sm-15 {
    flex-basis: 62.50001%;
    max-width: 62.50001%;
  }
  .col-sm-offset-15 {
    margin-left: 62.50001%;
  }
  .col-sm-16 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-offset-16 {
    margin-left: 66.66667%;
  }
  .col-sm-17 {
    flex-basis: 70.83334%;
    max-width: 70.83334%;
  }
  .col-sm-offset-17 {
    margin-left: 70.83334%;
  }
  .col-sm-18 {
    flex-basis: 75.00001%;
    max-width: 75.00001%;
  }
  .col-sm-offset-18 {
    margin-left: 75.00001%;
  }
  .col-sm-19 {
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }
  .col-sm-offset-19 {
    margin-left: 79.16667%;
  }
  .col-sm-20 {
    flex-basis: 83.33334%;
    max-width: 83.33334%;
  }
  .col-sm-offset-20 {
    margin-left: 83.33334%;
  }
  .col-sm-21 {
    flex-basis: 87.50001%;
    max-width: 87.50001%;
  }
  .col-sm-offset-21 {
    margin-left: 87.50001%;
  }
  .col-sm-22 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-offset-22 {
    margin-left: 91.66667%;
  }
  .col-sm-23 {
    flex-basis: 95.83334%;
    max-width: 95.83334%;
  }
  .col-sm-offset-23 {
    margin-left: 95.83334%;
  }
  .col-sm-24 {
    flex-basis: 100.00001%;
    max-width: 100.00001%;
  }
  .col-sm-offset-24 {
    margin-left: 100.00001%;
  }
}

/* screen md */
@media screen and (min-width: 992px) {
  .container {
    width: 948px;
  }
  .col-md, .col-md-offset-0 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .col-md-1, .col-md-offset-1 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-1, .no-gutter .col-md-offset-1 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-2, .col-md-offset-2 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-2, .no-gutter .col-md-offset-2 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-3, .col-md-offset-3 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-3, .no-gutter .col-md-offset-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-4, .col-md-offset-4 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-4, .no-gutter .col-md-offset-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-5, .col-md-offset-5 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-5, .no-gutter .col-md-offset-5 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-6, .col-md-offset-6 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-6, .no-gutter .col-md-offset-6 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-7, .col-md-offset-7 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-7, .no-gutter .col-md-offset-7 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-8, .col-md-offset-8 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-8, .no-gutter .col-md-offset-8 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-9, .col-md-offset-9 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-9, .no-gutter .col-md-offset-9 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-10, .col-md-offset-10 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-10, .no-gutter .col-md-offset-10 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-11, .col-md-offset-11 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-11, .no-gutter .col-md-offset-11 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-12, .col-md-offset-12 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-12, .no-gutter .col-md-offset-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-13, .col-md-offset-13 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-13, .no-gutter .col-md-offset-13 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-14, .col-md-offset-14 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-14, .no-gutter .col-md-offset-14 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-15, .col-md-offset-15 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-15, .no-gutter .col-md-offset-15 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-16, .col-md-offset-16 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-16, .no-gutter .col-md-offset-16 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-17, .col-md-offset-17 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-17, .no-gutter .col-md-offset-17 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-18, .col-md-offset-18 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-18, .no-gutter .col-md-offset-18 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-19, .col-md-offset-19 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-19, .no-gutter .col-md-offset-19 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-20, .col-md-offset-20 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-20, .no-gutter .col-md-offset-20 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-21, .col-md-offset-21 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-21, .no-gutter .col-md-offset-21 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-22, .col-md-offset-22 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-22, .no-gutter .col-md-offset-22 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-23, .col-md-offset-23 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-23, .no-gutter .col-md-offset-23 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md-24, .col-md-offset-24 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-md-24, .no-gutter .col-md-offset-24 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
  .col-md-1 {
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }
  .col-md-offset-1 {
    margin-left: 4.16667%;
  }
  .col-md-2 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 8.33333%;
  }
  .col-md-3 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .col-md-offset-3 {
    margin-left: 12.5%;
  }
  .col-md-4 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-offset-4 {
    margin-left: 16.66667%;
  }
  .col-md-5 {
    flex-basis: 20.83334%;
    max-width: 20.83334%;
  }
  .col-md-offset-5 {
    margin-left: 20.83334%;
  }
  .col-md-6 {
    flex-basis: 25.0%;
    max-width: 25.0%;
  }
  .col-md-offset-6 {
    margin-left: 25.0%;
  }
  .col-md-7 {
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }
  .col-md-offset-7 {
    margin-left: 29.16667%;
  }
  .col-md-8 {
    flex-basis: 33.33334%;
    max-width: 33.33334%;
  }
  .col-md-offset-8 {
    margin-left: 33.33334%;
  }
  .col-md-9 {
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .col-md-offset-9 {
    margin-left: 37.5%;
  }
  .col-md-10 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-offset-10 {
    margin-left: 41.66667%;
  }
  .col-md-11 {
    flex-basis: 45.83334%;
    max-width: 45.83334%;
  }
  .col-md-offset-11 {
    margin-left: 45.83334%;
  }
  .col-md-12 {
    flex-basis: 50.0%;
    max-width: 50.0%;
  }
  .col-md-offset-12 {
    margin-left: 50.0%;
  }
  .col-md-13 {
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }
  .col-md-offset-13 {
    margin-left: 54.16667%;
  }
  .col-md-14 {
    flex-basis: 58.33334%;
    max-width: 58.33334%;
  }
  .col-md-offset-14 {
    margin-left: 58.33334%;
  }
  .col-md-15 {
    flex-basis: 62.50001%;
    max-width: 62.50001%;
  }
  .col-md-offset-15 {
    margin-left: 62.50001%;
  }
  .col-md-16 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-offset-16 {
    margin-left: 66.66667%;
  }
  .col-md-17 {
    flex-basis: 70.83334%;
    max-width: 70.83334%;
  }
  .col-md-offset-17 {
    margin-left: 70.83334%;
  }
  .col-md-18 {
    flex-basis: 75.00001%;
    max-width: 75.00001%;
  }
  .col-md-offset-18 {
    margin-left: 75.00001%;
  }
  .col-md-19 {
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }
  .col-md-offset-19 {
    margin-left: 79.16667%;
  }
  .col-md-20 {
    flex-basis: 83.33334%;
    max-width: 83.33334%;
  }
  .col-md-offset-20 {
    margin-left: 83.33334%;
  }
  .col-md-21 {
    flex-basis: 87.50001%;
    max-width: 87.50001%;
  }
  .col-md-offset-21 {
    margin-left: 87.50001%;
  }
  .col-md-22 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-offset-22 {
    margin-left: 91.66667%;
  }
  .col-md-23 {
    flex-basis: 95.83334%;
    max-width: 95.83334%;
  }
  .col-md-offset-23 {
    margin-left: 95.83334%;
  }
  .col-md-24 {
    flex-basis: 100.00001%;
    max-width: 100.00001%;
  }
  .col-md-offset-24 {
    margin-left: 100.00001%;
  }
}

/* Screen lg */
@media screen and (min-width: 1200px) {
  .container {
    width: 1148px;
  }
  .col-lg, .col-lg-offset-0 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .col-lg-1, .col-lg-offset-1 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-1, .no-gutter .col-lg-offset-1 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-2, .col-lg-offset-2 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-2, .no-gutter .col-lg-offset-2 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-3, .col-lg-offset-3 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-3, .no-gutter .col-lg-offset-3 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-4, .col-lg-offset-4 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-4, .no-gutter .col-lg-offset-4 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-5, .col-lg-offset-5 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-5, .no-gutter .col-lg-offset-5 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-6, .col-lg-offset-6 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-6, .no-gutter .col-lg-offset-6 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-7, .col-lg-offset-7 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-7, .no-gutter .col-lg-offset-7 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-8, .col-lg-offset-8 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-8, .no-gutter .col-lg-offset-8 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-9, .col-lg-offset-9 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-9, .no-gutter .col-lg-offset-9 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-10, .col-lg-offset-10 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-10, .no-gutter .col-lg-offset-10 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-11, .col-lg-offset-11 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-11, .no-gutter .col-lg-offset-11 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-12, .col-lg-offset-12 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-12, .no-gutter .col-lg-offset-12 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-13, .col-lg-offset-13 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-13, .no-gutter .col-lg-offset-13 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-14, .col-lg-offset-14 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-14, .no-gutter .col-lg-offset-14 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-15, .col-lg-offset-15 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-15, .no-gutter .col-lg-offset-15 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-16, .col-lg-offset-16 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-16, .no-gutter .col-lg-offset-16 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-17, .col-lg-offset-17 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-17, .no-gutter .col-lg-offset-17 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-18, .col-lg-offset-18 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-18, .no-gutter .col-lg-offset-18 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-19, .col-lg-offset-19 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-19, .no-gutter .col-lg-offset-19 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-20, .col-lg-offset-20 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-20, .no-gutter .col-lg-offset-20 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-21, .col-lg-offset-21 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-21, .no-gutter .col-lg-offset-21 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-22, .col-lg-offset-22 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-22, .no-gutter .col-lg-offset-22 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-23, .col-lg-offset-23 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-23, .no-gutter .col-lg-offset-23 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg-24, .col-lg-offset-24 {
    flex: 0 0 auto;
    padding-left: 4px;
    padding-right: 4px;
  }
  .no-gutter .col-lg-24, .no-gutter .col-lg-offset-24 {
    padding-left: 0;
    padding-right: 0;
  }
  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    flex-basis: 4.16667%;
    max-width: 4.16667%;
  }
  .col-lg-offset-1 {
    margin-left: 4.16667%;
  }
  .col-lg-2 {
    flex-basis: 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 8.33333%;
  }
  .col-lg-3 {
    flex-basis: 12.5%;
    max-width: 12.5%;
  }
  .col-lg-offset-3 {
    margin-left: 12.5%;
  }
  .col-lg-4 {
    flex-basis: 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-offset-4 {
    margin-left: 16.66667%;
  }
  .col-lg-5 {
    flex-basis: 20.83334%;
    max-width: 20.83334%;
  }
  .col-lg-offset-5 {
    margin-left: 20.83334%;
  }
  .col-lg-6 {
    flex-basis: 25.0%;
    max-width: 25.0%;
  }
  .col-lg-offset-6 {
    margin-left: 25.0%;
  }
  .col-lg-7 {
    flex-basis: 29.16667%;
    max-width: 29.16667%;
  }
  .col-lg-offset-7 {
    margin-left: 29.16667%;
  }
  .col-lg-8 {
    flex-basis: 33.33334%;
    max-width: 33.33334%;
  }
  .col-lg-offset-8 {
    margin-left: 33.33334%;
  }
  .col-lg-9 {
    flex-basis: 37.5%;
    max-width: 37.5%;
  }
  .col-lg-offset-9 {
    margin-left: 37.5%;
  }
  .col-lg-10 {
    flex-basis: 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-offset-10 {
    margin-left: 41.66667%;
  }
  .col-lg-11 {
    flex-basis: 45.83334%;
    max-width: 45.83334%;
  }
  .col-lg-offset-11 {
    margin-left: 45.83334%;
  }
  .col-lg-12 {
    flex-basis: 50.0%;
    max-width: 50.0%;
  }
  .col-lg-offset-12 {
    margin-left: 50.0%;
  }
  .col-lg-13 {
    flex-basis: 54.16667%;
    max-width: 54.16667%;
  }
  .col-lg-offset-13 {
    margin-left: 54.16667%;
  }
  .col-lg-14 {
    flex-basis: 58.33334%;
    max-width: 58.33334%;
  }
  .col-lg-offset-14 {
    margin-left: 58.33334%;
  }
  .col-lg-15 {
    flex-basis: 62.50001%;
    max-width: 62.50001%;
  }
  .col-lg-offset-15 {
    margin-left: 62.50001%;
  }
  .col-lg-16 {
    flex-basis: 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-offset-16 {
    margin-left: 66.66667%;
  }
  .col-lg-17 {
    flex-basis: 70.83334%;
    max-width: 70.83334%;
  }
  .col-lg-offset-17 {
    margin-left: 70.83334%;
  }
  .col-lg-18 {
    flex-basis: 75.00001%;
    max-width: 75.00001%;
  }
  .col-lg-offset-18 {
    margin-left: 75.00001%;
  }
  .col-lg-19 {
    flex-basis: 79.16667%;
    max-width: 79.16667%;
  }
  .col-lg-offset-19 {
    margin-left: 79.16667%;
  }
  .col-lg-20 {
    flex-basis: 83.33334%;
    max-width: 83.33334%;
  }
  .col-lg-offset-20 {
    margin-left: 83.33334%;
  }
  .col-lg-21 {
    flex-basis: 87.50001%;
    max-width: 87.50001%;
  }
  .col-lg-offset-21 {
    margin-left: 87.50001%;
  }
  .col-lg-22 {
    flex-basis: 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-offset-22 {
    margin-left: 91.66667%;
  }
  .col-lg-23 {
    flex-basis: 95.83334%;
    max-width: 95.83334%;
  }
  .col-lg-offset-23 {
    margin-left: 95.83334%;
  }
  .col-lg-24 {
    flex-basis: 100.00001%;
    max-width: 100.00001%;
  }
  .col-lg-offset-24 {
    margin-left: 100.00001%;
  }
}

/*# sourceMappingURL=pure.css.map */